/* 
Last Updated: 2016-03-26
Author: Genkaido
*/


body {
    font-family: Roboto, "Droid Sans", "ü‡ÉSÉVÉbÉNëÃ", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    text-align:center;
    margin: 0px;
    padding: 0px;
}

.main_area {
    margin: 0px;
    padding: 0px;
    width:100%;
}

.stage_area {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: none;
}

.price_bar {
    padding:2px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25%;
    margin-bottom:0%;
    width: 80%;
    height: 80%;
    text-align: right;
    vertical-align: middle;
    color: #000;
    border: 1px solid #e1e1e1;

}

.logo_box_small{
    margin-top:6%;
    width:100%;
    margin-bottom:6%;
}

.logo_small {
    width:30%;
}

.qr_box {
    width:40%;
    margin:0px auto 6% auto;
    border:1px lightgray solid;
}

.price_box {
    width:60%;
    margin:0px auto 6% auto;
    text-algin:center;
}

.version_box {
    position:absolute;
    top:90%;
    left:6%;
    text-align:left;
    width:40%;
    height:3%;
    margin-left:0px;
    margin-right:auto;
}

.message_box {
    margin: 0% auto 6% auto;
    width:80%;
}

.btn_box {
    width:100%;
    height:12%;
    margin-bottom:4%;
}

.btn {
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.btn_large {
  width: 80%;
}

.btn_large_blue {
    background-color: #2d61A5;
}

.btn_large_red {
    background-color: #e05200;
}



.btn_num {
    width:25%;
    margin: 0 20% 20% 0;
    padding: 5% 2%;
    background: #f6f6f6;
    color: #111;
}

.btn_num_left {
    margin-left:auto;
    margin-right:5%;
}

.btn_num_middle {
    margin-left:0px;
    margin-right:5%;
}

.btn_num_right{
    margin-left:0px;
    margin-right:auto;
}

.btn_num_ok{
    margin-left:0px;
    margin-right:auto;
    width:56%;
    color:#ffffff;
    background-color: #2d61A5;
}

.small_icon {
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color:#eeeeee;
}

.small_icon_img{

}

.logout_button{
  z-index:1000;
  font-size:80%;
  margin-top:6%;
  height:5%;
  width:30%;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color:#ddd;
}

.management_button{
  position:absolute;
  z-index:1000;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color:#ddd;
}

.home_button{
  position:absolute;
  z-index:1000;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color:#ddd;
}

.input_common {
  border: 1px solid gray;
}

.input_user_code {
  width:70%;
  height:60%;
}

.small_text {
    font-size:10px;
}

.middle_text {
    font-size:10px;
}

.large_text {
    font-size:10px;
}

.strong_text {
    font-size:10px;
}

.table_text {
    font-size:10px;
}

.price_table {
    margin:0 auto 6% auto;
    width:80%;
    border-collapse:collapse;
}

.price_table th {
    width:70%;
    font-weight:normal;
    text-align:right;
    padding-top:3%;
}

.price_table td {
    width:30%;
    text-align:right;
    padding-top:3%;
}

.price_table .lined_tr {
    border-top:1px gray solid;
}



